[submodule "vendor/stb"]
	path = vendor/stb
	url = https://github.com/nothings/stb.git
	branch = master
[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
