[submodule "vendor/stb"]
	path = vendor/stb
	url = https://github.com/nothings/stb.git
	branch = master
[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "glm"]
	path = vendor/glm
	url = https://github.com/g-truc/glm.git
	branch = master
[submodule "glfw"]
	path = vendor/glfw
	url = https://github.com/glfw/glfw.git
	branch = master
[submodule "spdlog"]
	path = vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "entt"]
	path = vendor/entt
	url = https://github.com/skypjack/entt.git
